# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Status

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: [8.3.0, 18.x]

    steps:
    - uses: actions/checkout@v4.1.7
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4.0.2
      with:
        node-version: ${{ matrix.node-version }}

    # Node 8.3.0 comes with npm 5.3.0.
    # npm 5.7.1 is the first version to support npm ci
    - if: ${{ matrix.node-version != '18.x' }}
      run: npm install -g npm@5.7.1

    - run: npm install
    - run: npm run e2e

    # mock-fs dropped support for Node 10
    - if: ${{ matrix.node-version == '18.x' }}
      run: npm t

    # ESLint 7+ uses `} catch {` which isn't supported in Node 8
    - if: ${{ matrix.node-version == '18.x' }}
      run: npm run lint
