# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Status

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: [6.5.0, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    # Node 8.3.0 comes with npm 5.3.0.
    # npm 5.7.1 is the first version to support npm ci
    - if: ${{ matrix.node-version != '14.x' }}
      run: npm install -g npm@5.7.1

    - run: npm ci
    - run: npm t

    # ESLint 7.x uses `} catch {` which isn't supported in Node 8
    - if: ${{ matrix.node-version == '14.x' }}
      run: npm run lint

    # fs-extra uses `} catch {` which isn't supported in Node 8
    - if: ${{ matrix.node-version == '14.x' }}
      run: npm run e2e
